[submodule "components/esp32-tsl2561"]
	path = components/esp32-tsl2561
	url = https://github.com/DavidAntliff/esp32-tsl2561
[submodule "components/esp32-smbus"]
	path = components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus
